VITE_SUPABASE_URL=https://hiniunscuhdbbfqljfcl.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imhpbml1bnNjdWhkYmJmcWxqZmNsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODAxMjQ1NDUsImV4cCI6MjA5NTcwMDU0NX0.GzB975T_gErirvTRuF5nwc1iohs2WXf8uRaYNw6mSnQ
